@charset "UTF-8";
/* CSS Document */


/* MY CSS */


.large-12 {
	background-color:teal;
	width:100px;
	height:100px;
}

.large-4 {
	background-color:green;
	width:100px;
	height:100px;
}

.large-8 {
	background-color:lightblue;
	width:300px;
	height:300px;
}

